{% extends 'FirstApp/layout.html' %}

{% block title %}
  <title>Первая страница на {{caption}}</title>
{% endblock %}

{% block content %}
  <h1>Урок номер 2 по изучению {{caption}}</h1>
  <h1>Добро пожаловать на наш сайт, созданный на платформе {{caption}}! </h1><br>
<h5> Мы рады представить вам наш новый проект, который сочетает в себе современные технологии и интуитивно понятный интерфейс.
  Django — это мощный фреймворк для веб-разработки, который позволяет создавать безопасные и масштабируемые приложения. </h5>

<h4> На нашем сайте вы найдете информацию о том, как мы используем {{caption}} для решения бизнес-задач и реализации инновационных идей.
  Мы предлагаем широкий спектр услуг, включая разработку веб-приложений, настройку серверной части и интеграцию с различными API. </h4>

<p>Наши специалисты обладают глубокими знаниями и опытом работы с {{caption}}, что позволяет нам создавать продукты, которые соответствуют самым высоким стандартам качества. Мы стремимся к тому, чтобы наши решения были не только функциональными, но и удобными для пользователей.</p>

<p>Если у вас есть вопросы или вы хотите обсудить сотрудничество, пожалуйста, свяжитесь с нами через
  раздел <a href="footer">Contact Us</a>.
  Мы всегда рады новым проектам и готовы предложить вам оптимальные решения для вашего бизнеса.</p>

<p>Спасибо, что выбрали нас! Надеемся, что наш сайт и услуги помогут вам достичь новых высот в ваших начинаниях.</p>
{% endblock %}